.block {
  display: grid;

  &List {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    grid-gap: 1.2em;
  }

  &Content {
    padding: .8em 0;
    background-color: var(--color-primary-dark);
    align-self: end;
  }

  &Image {
    aspect-ratio: 1 / 1;
    width: 100%;
    object-fit: cover;
  }

  &Name {
    display: block;
    margin-bottom: .6em; 
  }

  &Link:hover > &Name{
    text-decoration: underline;
  }
}
