:root {
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Sora', sans-serif;
  --ff-accent: 'Roboto', cursive;
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-secondary);
}

body {
  font-family: var(--ff-primary);
}
