// resets
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  width: 100%;
}

body {
  background-color: #f5f7fe;
}

// layout
.wrapper {
  height: 100vh;
  width: 100vw;
  color: #202020;
  padding: 1em;

  @media screen and (min-width: 920px) {
    max-width: 920px;
    margin: auto;
  }
}

// components - local -refactor
.profile-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .profile-img {
    height: 5.5em;
    width: 5.5em;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    text-align: center;
    margin-top: .85em;
  }

  @media screen and (min-width: 540px) {
    & {
      justify-content: flex-start;
    }

    p {
      flex: 1 0 100%;
    }

    .profile-img {
      margin-left: 0;
      margin-right: 2em;
    }
  }
}

