// layout
.wrapper {
  min-height: 100vh;
  width: 100vw;
  width: min(90%, 1100px);
  margin-inline: auto;
  padding: 3.14em 0;
  background-color: var(--color-secondary-dark);
}

.header {
  text-align: center;
  width: min(100%, 720px);
  margin-inline: auto;
  margin-bottom: 3.14em;

  h1 {
    margin-bottom: 0.755em;
  }
}
